.screen {
  background-color: rgb(219, 219, 219);

  height: 100%;
}

.left{
  background-color: rgb(144, 255, 54);

  height: 100%;
}

.building{
  background-color: rgb(209, 207, 207);

  height: 80%;

}

.resource{
  background-color: rgb(209, 207, 207);

  height: 20%;
}

.right{
  background-color: rgb(51, 214, 86);

  height: 100%;
}

.map{
  background-color: rgb(158, 17, 17);

  height: 80%;
}

.info{
  background-color: rgb(201, 94, 43);

  height: 20%;
}

.detail{
  background-color: rgb(209, 207, 207);

  height: 100%;
}

.minimap{
  background-color: rgb(209, 207, 207);

  height: 100%;
}

