.screen {
  background-color: rgb(219, 219, 219);

  height: 100%;
}

.left{
  background-color: rgb(144, 255, 54);

  height: 100%;
}

.building{
  background-color: rgb(157, 155, 27);

  height: 80%;

}

.resource{
  background-color: rgb(247, 166, 231);

  height: 20%;
}

.right{
  background-color: rgb(51, 214, 86);

  height: 100%;
}

.map{
  background-color: rgb(116, 172, 47);

  height: 80%;
}

.info{
  background-color: rgb(201, 94, 43);

  height: 20%;
}

.detail{
  background-color: rgb(73, 235, 184);

  height: 100%;
}

.minimap{
  background-color: rgb(81, 150, 214);

  height: 100%;
}
